[user]
	name = Pietro Piva Vieira
	email = pietro.developer@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
	c = commit
	ci = commit
	amend = commit --amend
	co = checkout
	br = branch
	st = status
	cur = branch --show-current
	d = diff
	lg = log --oneline --graph --all --decorate
	ls = log --oneline --decorate
	unstage = reset HEAD --
	last = log -1 HEAD